<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Library</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav>
      <h1><a href="/admin">My Library</a></h1>
      <ul>
        <li><a href="/admin/issued-book">issued book</a></li>
        <li><a href="/admin/available-book">available books</a></li>
        <li><a href="/admin/add-book">Add book</a></li>
        <li>
          <a href="/admin/logout">LogOut</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
