<%- include('partials/header'); -%>

<header>
  <div class="home-img">
    <img src="/book.jpg" alt="" />
  </div>
  <div class="headings">
    <h2>Get Your Book Now</h2>
    <h3>By My Library</h3>
    <a href="/books" class="btn">View Book</a>
  </div>
</header>

<%- include('partials/footer'); -%>
